body {
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    position: absolute;
    top: 20px;
    left: 30px;
    color: #22A0A2;
    font-family: Arial, sans-serif;
    font-size: 24px;
}

.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    width: 500px;
}

.login-container h1 {
    margin-bottom: 20px;
    color: black;
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

form label {
    margin-bottom: 5px;
    color: black;
}

form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form #loginbtn {
    margin: 0 auto;
    padding: 10px;
    background-color: #22A0A2;
    color: white;
    border: none;
    border-radius: 35px;
    font-size: 16px;
    cursor: pointer;
    width: 95%;
}

form button:hover {
    background-color: #1e8b8d;
}

form input::placeholder {
    text-align: center;
}

form input:focus {
    border-color: #22A0A2;
    outline: none;
}

form #googlebtn {
    margin: auto;
    padding: 10px;
    background-color: #db4437;
    color: white;
    border: none;
    border-radius: 35px;
    font-size: 16px;
    cursor: pointer;
    width: 95%;
}

form #googlebtn:hover {
    background-color: #c33d2e;
}

p.continue {
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 0;
    position: relative;
}

p.continue::before, p.continue::after {
    content: '';
    flex: 1;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
}

p.continue::before {
    margin-right: 16px;
}

p.continue::after {
    margin-left: 16px;
}

.signup-link {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}

.signup-link a {
    color: #22A0A2;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 600px) {
    .login-container {
        width: 90%;
        padding: 20px;
    }
}