<div class="sidebar">
  <h2 class="sidebar-title">CRM 2Tes</h2>
  <link rel="stylesheet" href="/styles/confirm-modal.css" />
  <ul class="menu">
    <li class="menu-item"><a href="/dashboard"><span class="icon">📈</span> Dashboard</a></li>
    <li class="menu-item"><a href="/clientes"><span class="icon">👤</span> Clientes</a></li>
    <li class="menu-item"><a href="/oportunidades"><span class="icon">💼</span> Oportunidades</a></li>
    <li class="menu-item"><a href="/interacoes"><span class="icon">💬</span> Interações</a></li>
    <li class="menu-item"><a href="/usuarios"><span class="icon">👥</span> Usuários</a></li>
    <li class="menu-item"><a href="/auth/logout"><span class="icon">⏻</span> Sair</a></li>
  </ul>
</div>
